<div class="slider-container" id="slider-container">
    {{each lists as value index}}
        <div data-index="{{index}}" class="slider-item {{ index > 0 ? '' : 'active' }}">
            <a class="jump" data-href="{{value.storm}}" href="javascript:void(null)" onclick="return false;">
                {{if value.img_status == 1 }}
                <img src="{{value.img_url}}" width="270" height="184" />
                {{else if value.img_status == 2 }}
                <img src="{{value.loadfail}}" width="270" height="184" />
                {{/if}}
                <div class="pointer dn abso player-hander">
                    <div class="player_btn"><img class="fixpng" src="images/player_min_btn.png" /> </div>
                    <div class="player_btn_on"><img class="fixpng" src="images/player_min_btn_on.png" /></div>
                </div>
                {{if value.hd_type == "720P" }}
                <div class="abso fixpng p720"></div>
                {{/if}}
                <div class="abso fixpng title-head">
                    <div class="title-bar">
                        <h3>
                            <b class="{{ value.isblock ? 'block' : '' }}">{{value.title}}</b>
                            <span class="{{ value.isblock ? 'block' : '' }}">
                                {{if value.movieType == 2 }}
                                    {{if value.complete_status == 1 }}
                                        <em>热播至{{value.location}}集</em>
                                    {{else if value.complete_status == 2 }}
                                        <em>{{value.location}}集全</em>
                                    {{/if}}
                                {{/if}}
                                 <span class="cl icon-box">
                                    <span class="fl pointer sp add-list" data-storm="{{value.storm}}" data-type="add-list"></span>
                                    <span class="fr pointer sp add-favorite" data-storm="{{value.storm}}" data-type="add-favorite"></span>
                                </span>
                            </span>
                        </h3>
                        <p class="des">{{value.brief}}</p>
                        {{if !value.isblock }}
                            <div class="{{ index > 0 ? '' : 'fixpng' }} video-view">{{value.movie_click}}</div>
                        {{/if}}
                    </div>
                </div>

            </a>
        </div>
    {{/each}}
</div>
<div class="cl abso change-tips" id="change-tips">
    <ul class="fr">
        {{each lists}}
            {{if lists.length > 1 }}
            <li data-index="{{$index}}" class="{{ $index > 0 ? '' : 'active' }}"><a href="{{$value.storm}}">{{$index}}</a></li>
            {{/if}}
        {{/each}}
    </ul>
</div>